{% extends "norge_layout.twig.html" %}

{% block content %}
	<p class="lead">{{venter_pakke}} personer venter på at velkomstpakken skal sendes</p>
	
	<div class="clearfix"></div>
	
	<div class="alert alert-error span9">
		<strong> OBS:<br />
		Når du nå trykker på knappen for å generere excel-listen over hvem som skal ha velkomstpakke,
		vil disse <u>bli markert som sendt</u>.</strong>
		<br />
		Det er derfor viktig at denne listen <u><strong>kun</strong></u> blir generert når velkomstpakker skal bestilles.
	</div>
	
	<div class="clearfix"></div>
	
	<button class="btn btn-danger btn-medium" id="genererPakke">Generer pakkeliste</button>
	
	
	
	<script>
		jQuery(document).on('click', '#genererPakke', function(){
			confirmed = confirm('Er du sikker på at du vil generere pakkeliste og markere disse {{venter_pakke}} pakkene som sendt?');
			
			if(confirmed) {
				window.location.href = '?page=UKMambassadorNorge&action=pakke&generate=true;';
			}
		});
	</script>
{% endblock %}