<div class="amb_invitebox">
	<h2>Inviter noen til å bli ambassadør</h2>
	Skriv inn ett mobilnummer, eller en liste kommaseparerte mobilnummer for å invitere ambassadør(er).
	<form action="" method="POST">
		<input type="hidden" name="tab" value="ambassadorer" />
		<input type="text" name="ambassadorinvite" id="ambassadorinvite" />
		{% if monstringer|length > 1 %}
		<select name="pl_invite_id">
		{% for monstring in monstringer %}
			<option value="{{monstring.pl_id}}">{{monstring.name}}</option>
		{% endfor %}
		</select>
		{% else %}
		<input type="hidden" name="pl_invite_id" value="{{monstringer[0].pl_id}}" />
		{% endif %}
		<input type="submit" value="Invitér" />
	</form>
	
	<h3>Hva skjer?</h3>
	<h4>Når du inviterer ambassadører vil de motta følgende SMS:</h4>
	Hei! Vi håper at du vil bli ambassadør for UKM. Du gjør så mye eller lite du vil :) Svar UKM AMB for å motta mer informasjon! Hilsen UKM
	<hr />
	<h4>De som svarer UKM AMB vil motta følgende SMS:</h4>
	En UKM-ambassadør forteller andre om UKM, og bidrar til at flere melder seg på. Du får en gratis T-skjorte og noen tips fra oss, men det viktigste verktøyet er deg selv og dine erfaringer! Det er ingen forpliktelser, men om du gjør en god jobb kan du vinne en gratistur til UKM-festivalen. 
Registrer deg på: http://ukm.no/ambassador så er du i gang!
</div>

<h2>Ambassadører knyttet til {% if site_type == "kommune" %}din lokalmønstring{% else %}lokalmønstringer i ditt fylke{% endif %}</h2>	

<div class="alert alert-warning">
	<h4>OPPDATERING PÅ GANG</h4>
	<p>Vi oppdaterer akkurat nå ambassadør-modulen. Den kan derfor være litt ustabil ut torsdag. Vi beklager dette!</p>
</div>

{% if invites %}
	<h2>Status invitasjon</h2>
	Du forsøkte å invitere {{invites|length}} personer, og status er følgende:<br />
	{% for invite in invites %}
		<strong>{{invite.phone}}:</strong> {% if invite.success %}Invitasjon sendt!{% else %}ERROR: {{invite.message}}{% endif %}<br />
	{% endfor %}
{% endif %}


<table border="0" cellpadding="2" cellspacing="0">
	<tr>
		<th align="left">&nbsp;</th>
		<th align="left">Navn</th>
		<th align="left">Mobil</th>
		<th align="left">Registrert i</th>
		{% if site_type != "kommune" %}
		<th align="left">Tilknyttet mønstring</th>
		{% endif %}
		<th align="left">E-post</th>
	</tr>
	{% for ambassador in ambassadorer %}	
	<tr>
		<td><a href="{{ambassador.link}}" target="_blank">
				<img src="{{ambassador.image}}" style="margin:0px;padding:0px;" /></a>
		</td>
		<td width="200">
			<strong>{{ambassador.firstname}} {{ambassador.lastname}}</strong><br />
			<a href="{{ambassador.link}}" target="_blank">På facebook</a>
		</td>
		<td width="100" class="UKMSMS">{{ambassador.phone}}</td>
		<td width="75">{{ambassador.season}}</td>
		{% if site_type != "kommune" %}
		<td width="250">{{ambassador.monstring}}</td>
		{% endif %}
		<td width="250"><a href="mailto:{{ambassador.email}}">{{ambassador.email}}</a></td>
	</tr>
	{% endfor %}
</table>

<ol class="unstyled" id="ambassadorer">
	{% for ambassador in ambassadorer %}	
	<li class="ambassador well well-mini">
		<div class="monstring pull-right">
			{% if site_type != "kommune" %}
				{{ambassador.monstring}}
			{% endif %}
		</div>
		
		
		<div class="actions pull-left">
			<div class="pull-left details_show clickable">
				<img src="//ico.ukm.no/sirkel-pluss-256.png" /><br />
				<small>Vis detaljer</small>
			</div>
			<div class="pull-left details_hide clickable" style="display:none;">
				<img src="//ico.ukm.no/sirkel-minus-256.png" /><br />
				<small>Skjul detaljer</small>
			</div>

			<div class="pull-left onface clickable" data-url="{{ambassador.link}}/">
				<img src="//ico.ukm.no/face-256.png" /><br />
				<small>På facebook</small>
			</div>

			<div class="pull-left delete clickable">
				<img src="//ico.ukm.no/trash-32.png" /><br />
				<small>slett</small>
			</div>
			<div class="clearfix"></div>
		</div>

		<img src="{{ambassador.image}}" class="pull-left img-circle" /></a>

		<div class="name pull-left">
			<h4>{{ambassador.firstname}} {{ambassador.lastname}}</h4>
			<p>Registrert: {{ambassador.season}}</p>
		</div>
		
		<div class="contact pull-left">
			<span class="UKMSMS">{{ambassador.phone}}</span>
			<br />
			<a href="mailto:{{ambassador.email}}">{{ambassador.email}}</a>
		</div>
		<div class="clearfix"></div>
		<div class="details" style="display:none;">
			<div class="alert alert-info">Ingen detaljer tilgjengelig akkurat nå</div>
		</div>
	</li>
	{% endfor %}
</ol>
