<div class="amb_invitebox">
	<h2>Inviter noen til å bli ambassadør</h2>
	Skriv inn ett mobilnummer, eller en liste kommaseparerte mobilnummer for å invitere ambassadør(er).
	<form action="" method="POST">
		<input type="hidden" name="tab" value="ambassadorer" />
		<input type="text" name="ambassadorinvite" id="ambassadorinvite" />
		{% if monstringer|length > 1 %}
		<select name="pl_invite_id">
		{% for monstring in monstringer %}
			<option value="{{monstring.pl_id}}">{{monstring.name}}</option>
		{% endfor %}
		</select>
		{% else %}
		<input type="hidden" name="pl_invite_id" value="{{monstringer[0].pl_id}}" />
		{% endif %}
		<input type="submit" value="Invitér" />
	</form>
	
	<h3>Hva skjer?</h3>
	<h4>Når du inviterer ambassadører vil de motta følgende SMS:</h4>
	Hei! Vi håper at du vil bli ambassadør for UKM. Du gjør så mye eller lite du vil :) Svar UKM AMB for å motta mer informasjon! Hilsen UKM
	<hr />
	<h4>De som svarer UKM AMB vil motta følgende SMS:</h4>
	En UKM-ambassadør forteller andre om UKM, og bidrar til at flere melder seg på. Du får en gratis T-skjorte og noen tips fra oss, men det viktigste verktøyet er deg selv og dine erfaringer! Det er ingen forpliktelser, men om du gjør en god jobb kan du vinne både 1000 kr og en gratistur til UKM-festivalen. 
	Registrer deg på: http://ukm.no/ambassador så er du i gang!
</div>

<h2>Ambassadører knyttet til {% if site_type == "kommune" %}din lokalmønstring{% else %}lokalmønstringer i ditt fylke{% endif %}</h2>	

{% if invites %}
	<h2>Status invitasjon</h2>
	Du forsøkte å invitere {{invites|length}} personer, og status er følgende:<br />
	{% for invite in invites %}
		<strong>{{invite.phone}}:</strong> {% if invite.success %}Invitasjon sendt!{% else %}ERROR: {{invite.message}}{% endif %}<br />
	{% endfor %}
{% endif %}

<table border="0" cellpadding="2" cellspacing="0">
	<tr>
		<th align="left">&nbsp;</th>
		<th align="left">Navn</th>
		<th align="left">Mobil</th>
		<th align="left">Sesong</th>
		{% if site_type != "kommune" %}
		<th align="left">Tilknyttet mønstring</th>
		{% endif %}
	</tr>
	{% for ambassador in ambassadorer %}	
	<tr>
		<td><a href="{{ambassador.link}}" target="_blank">
				<img src="{{ambassador.image}}" style="margin:0px;padding:0px;" /></a>
		</td>
		<td width="200"><a href="{{ambassador.link}}">{{ambassador.firstname}} {{ambassador.lastname}}</td>
		<td width="100">{{ambassador.phone}}</td>
		<td width="250">{{ambassador.season}}</td>
		{% if site_type != "kommune" %}
		<td width="250">{{ambassador.monstring}}</td>
		{% endif %}
	</tr>
	{% endfor %}
</table>