{% extends "norge_layout.twig.html" %}

{% block content %}
	<p class="lead">
		Det er registrert {{ant_ambassadorer}} ambassadører totalt
	</p>
	
	{% if venter_pakke > 10 %}
		<div class="alert alert-error span9">
			{{venter_pakke}} personer venter på at velkomstpakken skal sendes
		</div>
	{% elseif venter_pakke > 0 %}
		<div class="alert alert-warning span9">
			{{venter_pakke}} personer venter på at velkomstpakken skal sendes
		</div>
	{% else %}
		<div class="alert alert-success span9">
			{{venter_pakke}} personer venter på at velkomstpakken skal sendes
		</div>	
	{% endif %}
	
<div class="clearfix"></div>	
	<h3>Fylkesvis fordeling av ambassadører</h3>
	
	<table class="table table-striped table-hover table-condensed">
		<thead>
			<tr>
				<th>Fylke</th>
				<th>Antall ambassadører</th>
				<th>Detaljer</th>
			</tr>
		</thead>
		<tbody>
		{% for fylke in fylker %}
			<tr>
				<td>{{fylke.navn}}</td>
				<td>{{fylke.ambassadorer|length}}</td>
				<td><a href="{{fylke.link}}wp-admin/page=UKMambassador">Vis detaljer</a></td>	
			</tr>
		{% endfor %}
		</tbody>
	</table>
{% endblock %}